.content-root {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #dcdcdc;
}

.content-text {
  height: 100%;
  width: 50%;
  font-family: "Cormorant Garamond", serif;
}

.content-pic-parent {
  width: 50%;
  height: 100%;
}

/* .content-big-pic {
  height: 100%;
  width: 100%;
  background-image: url("../../Assets/mainlight.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .content-small-one {
  background-color: blue;
  height: 40%;
  width: 50%;
  margin-top: -45px;
  margin-left: -60px;
  background-image: url("../../Assets/pic2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} */

.content-text h1 {
  padding-top: 8rem;
  text-align: right;
  padding-right: 90px;
  color: #333333;
  font-weight: 700;
  letter-spacing: 10px;
}

.content-text h2 {
  padding-top: 4rem;
  text-align: right;
  padding-right: 90px;
  width: 50%;
  margin-left: auto;
  font-weight: 300;
  line-height: 30px;
}

.shop-btn {
  margin-top: 100px;
  background-color: var(--btn-color);
  width: 100px;
  height: 20px;
  padding: 15px;
  border-radius: 7px;
  margin-left: auto;
  margin-right: 90px;
  cursor: pointer;
  text-align: center;
}
