.header-banner {
  display: flex;
  background-color: var(--header-color);
  padding: 2rem;
  height: 0.5rem;
  justify-content: space-between;
}

.header-banner a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ff8000;
}

.navigations {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-style: italic;
  text-transform: uppercase;
  height: 100%;
}

.lighter {
  font-size: 20px;
  cursor: pointer;
  color: var(--switch-color);
}

.lighter:hover {
  color: #ff8000;
}

@media screen and (max-width: 450px) {
  .logo-link {
    font-size: 1em;
  }

  .navigations {
    width: 170px;
    font-size: 0.9em;
  }
}
