.header-banner {
  display: flex;
  background-color: var(--header-color);
  padding: 2rem;
  height: 0.5rem;
  justify-content: space-between;
}

.header-banner a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ff8000;
}

.header-cart {
  display: flex;
  justify-content: flex-end;
}

.logo-link {
  font-size: 1.2em;
  font-style: italic;
  text-transform: uppercase;
}
.shop-link {
  margin-right: 60px;
}
