body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.whiteMode {
  --background-color: #dcdcdc;
  --header-color: #7a7a7a;
  --text-color: #000;
  --switch-color: #fff;
}

.darkMode {
  --background-color: #363636;
  --header-color: #181818;
  --text-color: #f5f5f5;
  --switch-color: #ff8000;
}

:root {
  --link-color: #5790eb;
  --btn-color: #ff8000;
}
