.ui-main {
  min-height: 100vh;
  padding: 0 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.UI-container {
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #a9a9a9;
  padding-top: 30px;
  min-width: 350px;
  width: 50%;
}

.ui-title {
  padding-top: 20px;
  font-size: 25px;
  color: #34568b;
}

.ui-img img {
  height: 320px;
  padding: 20px;
}

.remove-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  height: 22px;
  margin-top: auto;
}

.dollarSign {
  color: #85bb65;
}

.Total-price {
  display: flex;
  justify-content: flex-end;
}

.buybtn {
  color: black;
  margin: 0 auto;
  background-color: var(--btn-color);
  width: 100px;
  height: 20px;
  padding: 15px;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
}

.checkHandler {
  display: none;
}

.checkOutHandlerShow {
  right: 50%;
  margin-top: 20px;
  display: block;
}

@media screen and (max-width: 700px) {
  .ui-main {
    overflow-x: hidden;
  }
  .ui-title {
    font-size: 17px;
  }

  .ui-img img {
    width: 200px;
    height: 270px;
  }

  .Total-price {
    padding: 10px 0;
    display: block;
    text-align: center;
  }
}

.instructions {
  color: red;
  margin: 20px;
  text-align: center;
}
